.acciones-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .acciones-container button {
    background-color: #007BFF; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s; /* Transición para el color de fondo del botón */
    margin: 5px; /* Espacio entre los botones */
  }    
  
  .acciones-container button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
  }
  