.acciones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Ajusta la altura como desees */

  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre el botón */
  }
  